.not-front #main {
  margin-top: -30px;
}

.front #main {
  margin-top: -10px;
}

.front  #main #content-wrap {
  float: left;
  margin: 0px -30px 0px;
  padding: 0px 30px 0;
  background: #f2f2f2;
}

 .page-node #main #content-wrap {
  padding-bottom: 30px;
	padding-top: 20px;
}

.quicktabs-style-zen {
  margin: 15px 0 20px;
}

#content-wrap img {
  border: 1px solid #CCCCCC;
  padding: 6px;
  height: auto;
  max-width: 97.4%;
  margin: 0 0.5em 0 0; 
}

.page-node #block-views-slider-block img,
.region-content-top img {
  border: 1px solid #CCCCCC;
  padding: 6px;
}

.node-type-studyevent h2 ,
.front h2,
.not-front h2{
  margin: 0 0 10px;
  font-size: 1.6em;
	font-weight: 570;
	color: #222222;
}

.not-front .group-common .group-description h2 {
  font-size: 1.3em;
	font-weight: 400;

}

.node-type-studyevent .group-right,
.node-type-article  .group-right {
  width: 25%;
}

.node-type-studyevent .group-left ,
.node-type-article  .group-left {
  width: 70%;
}

.node-type-studyevent .group-header {
  float: left;
  margin-bottom: 10px;
}

.view-trainer img,
.view-add-author img{
  border-radius: 101px;
}

/* slideshow */

#block-views-slider-block {
  width: 540px;
  float: left;
}

#block-block-37 {
  width: 400px; 
	float: left;
	margin-left: 30px;
}

.views-slideshow-cycle-main-frame-row-item .views-field-title {
  position: absolute;
	float: left;
  margin: 15px 0 0 50px; 
  font-size: 1.5em;
	max-width: 520px;
	line-height: 100%;
	background: rgba(255, 255, 255, .75);
  width: 460px;
  padding: 5px;
}

.views-slideshow-cycle-main-frame-row-item  .views-field-field-image {
  float: left;
  margin: 0 0 0 30px;
	position: relative;
  z-index: 0;
}

.views-slideshow-pager-field-item {
  background: url(images/inactive_slide.jpg) no-repeat;
	width: 10px;
	height: 10px;
	float: left;
  margin-right: 8px;
	position: relative;
  z-index: 6;
}

.views_slideshow_pager_field {
  float: left;
  margin: -35px 0 0 250px;
  position: relative;
  z-index: 6;
}
	
.views_slideshow_pager_field .active {
  background: url(images/active_slide.jpg) no-repeat;
}

.views-slideshow-pager-field-item .views-content-counter {
  font-size: 0;
}

.item-list .pager {
  margin-bottom: 15px;
}

.page-node footer .language-icon {
  display: none;
}

.page-node .field-name-field-file  .file img {
  float: left;
}

.page-node .field-name-field-file  .file  a {

  float: left;
}

/* view front events*/

.front .view-events {
 float: left;
}

.front .view-events .views-row {
 float: left;
width: 290px;
margin-right: 23px;
}

.front .view-events .views-field-title,
.front .view-events .views-field-field-date {
  font-size: 1.3em;
}

.front .view-events .views-label-field-deadline {
  float: left;
	margin-right: 5px;
}

.front .view-events .views-field-field-deadline {
  font-weight: bold;
}

/* front content*/

.front #content-wrap {
  float: left;
}

.front #content-wrap #block-views-eventscatalog-block,
.front #block-block-39,
.front #block-block-35,
.front #block-block-33 {
  float: left;
	width: 290px;
	margin-right: 23px;
}

/* event  */

#quicktabs-container-trainers_and_feedbacks {
  border-bottom: 1px solid #dddddd;
	float: left;
}

.node-type-studyevent .page-title {
  display: none;
}

.node-type-studyevent .field-name-title {
  font-size: 2em;
  margin: 5px 0 10px;
}

.node-type-studyevent .group-description {
  width: 52%;
  float: left;
	margin-left: 10px;
}

.node-type-studyevent .field-name-field-date {
  width: 100%;
  float: left;
}

.node-type-studyevent .field-name-field-place {
  width: 100%;
  float: left;
}

.node-type-studyevent .field-name-field-deadline {
  width: 100%;
  float: left;
}

.node-type-studyevent .field-name-field-social {
  float: left;
  margin-top: 20px;
}

.node-type-studyevent .field-name-send-application-button {
  float: left;
  margin-top: 20px;
  width: 100%;
  font-size: 1.3em;
}

.node-type-studyevent .field-group-format-wrapper {
  float: left;
  width: 100%;
}

.node-type-studyevent .field-name-trainers-and-feedbacks {
  width: auto;
}

.node-type-studyevent #content-wrap .group-common img {
  float: left;  
}    

.view-event-feedback img {
  border-radius: 58px;
}

.node-type-studyevent .group-left  .field-name-event-feedback {
  float: left;
	margin-top: 15px;
}

.node-type-studyevent .group-left  .field-name-event-feedback .views-row {
   width: 30%;
	 float: left;
	 margin-right: 15px;
}

.node-type-studyevent .group-left  .field-name-event-feedback .views-row  .views-field {
  float: left;
}

.node-type-studyevent .group-left  .field-name-event-feedback .views-row  .views-field-title {

	font-weight: bold;
  font-size: 105%;
  margin: 10px 0;
}

.node-type-studyevent .group-left  .field-name-event-feedback .views-row  .views-field-body {
  font-size: 90%;
}

.group-left .field-name-field-tags,
.page-node .field-name-field-tags {
  margin-top: 10px;
  float: left;
}

 .node-type-studyevent  #block-views-trainer-block .view-trainer {
   float: left;

 }

 .node-type-studyevent  #block-views-trainer-block .view-trainer .views-row {
   float: left;
	 margin-right: 15px;
	 width: 30%;
 }
 
 .node-type-studyevent  #block-views-trainer-block .view-trainer .views-row  img {
   width: 80%;
 }
 
 .node-type-studyevent  #block-views-trainer-block .view-trainer .views-row .views-field {
   float: left;
 }
 
.node-type-studyevent  .view-trainer .views-row .views-field-title,
.node-type-article .view-add-author .username {
  float: left;
  font-weight: bold;
  font-size: 120%;
  margin: 10px 0;
}

.node-type-article .view-add-author .views-field-name {
  float: left;
}

.node-type-studyevent  .view-trainer .views-row .views-field-body {
  float: left;
}

.group-left .field-name-sent-application  {
  margin-top: 10px;
	float: left;
}

.group-left .webform-client-form {
  float: left;
}

/* article*/

.node-type-article .view-add-author .views-field-field-about-author {
  margin-top: 10px;
	clear: both;
}
/*
.node-type-article .group-right .field-type-ds {
  margin-bottom: 20px;
} */

.page-node .group-right .field-type-ds,
.node-type-article .group-right .field-type-ds{
  margin-bottom: 30px;
}

/* page-taxonomy*/

.page-taxonomy article footer {
  float: left;
  margin:  10px 0;
	/*clear: both; */
	width: 55%;
}

.page-taxonomy .field-type-fivestar {
  float: left;
  margin-top: 5px;
	width: 55%;
}

/* partnery */

.page-taxonomy  #taxonomy-term-146  .taxonomy-term-description img {
  border: none;
}

.page-taxonomy  #taxonomy-term-146  .taxonomy-term-description table {
  background: #f2f2f2;
}

/* table */
.not-front #content-wrap .views-table img {
  border: none;
	padding: 0;
}

.not-front #content-wrap .views-field-field-imagestudy {
  width: 15%;
}
