#main {
  margin-top: -20px;
}

.quicktabs-style-zen {
  margin: 15px 0 20px;
}

.page-node #block-views-slider-block img,
.region-content-top img {
  border: 1px solid #CCCCCC;
  padding: 6px;
}

/* slideshow */

#block-views-slider-block {
  width: 540px;
  float: left;
}

#block-block-37 {
  width: 400px; 
	float: left;
	margin-left: 30px;
}

.views-slideshow-cycle-main-frame-row-item .views-field-title {
  position: absolute;
  margin: -250px 0 0 50px;
  font-size: 1.5em;
	max-width: 520px;
	line-height: 90%;
}

.views-slideshow-cycle-main-frame-row-item  .views-field-field-image {
  margin: 0 0 0 30px;
	position: relative;
  z-index: 0;
}

.views-slideshow-pager-field-item {
  background: url(images/inactive_slide.jpg) no-repeat;
	width: 10px;
	height: 10px;
	float: left;
  margin-right: 8px;
	position: relative;
  z-index: 6;
}

.views_slideshow_pager_field {
  float: left;
  margin: -35px 0 0 250px;
  position: relative;
  z-index: 6;
}
	
.views_slideshow_pager_field .active {
  background: url(images/active_slide.jpg) no-repeat;
}

.views-slideshow-pager-field-item .views-content-counter {
  font-size: 0;
}

/* view front events*/

.front .view-events {
 float: left;
}

.front .view-events .views-row {
 float: left;
width: 290px;
margin-right: 23px;
}

.front .view-events .views-field-title,
.front .view-events .views-field-field-date {
  font-size: 1.3em;
}

.front .view-events .views-label-field-deadline {
  float: left;
	margin-right: 5px;
}

.front .view-events .views-field-field-deadline {
  font-weight: bold;
}

/* front content*/

.front #content-wrap {
  float: left;
}

.front #content-wrap #block-views-eventscatalog-block,
.front #block-block-39,
.front #block-block-35,
.front #block-block-33 {
  float: left;
	width: 290px;
	margin-right: 23px;
}

/* event  */

.node-type-studyevent h2 ,
.front h2{
  margin: 0 0 10px;
  font-size: 1.3em;
}

.node-type-studyevent .page-title {
  display: none;
}

.node-type-studyevent .field-name-title {
  font-size: 2em;
  margin: 5px 0 10px;
}

.node-type-studyevent .group-description {
  width: 52%;
  float: left;
}

.node-type-studyevent .field-name-field-date {
  width: 100%;
  float: left;
}

.node-type-studyevent .field-name-field-place {
  width: 100%;
  float: left;
}

.node-type-studyevent .field-name-field-deadline {
  width: 100%;
  float: left;
}

.node-type-studyevent .field-name-field-social {
  float: left;
  margin-top: 20px;
}

.node-type-studyevent .field-name-send-application-button {
  float: left;
  margin-top: 20px;
  width: 100%;
  font-size: 1.3em;
}

.node-type-studyevent .field-group-format-wrapper {
  float: left;
  width: 100%;
}

.node-type-studyevent .field-name-trainers-and-feedbacks {
  width: auto;
}

.node-type-studyevent .group-right {
  width: 25%;
}

.node-type-studyevent .group-left {
  width: 70%;
}

.node-type-studyevent #content-wrap img {
  float: left;  
}    

.view-trainer img{
  border-radius: 101px;
}

.view-event-feedback img {
  border-radius: 58px;
}

.node-type-studyevent .group-left  .field-name-event-feedback {
  float: left;
}

.node-type-studyevent .group-left  .field-name-event-feedback .views-row {
   width: 30%;
	 float: left;
	 margin-right: 15px;
}

.node-type-studyevent .group-left  .field-name-event-feedback .views-row  .views-field {
  float: left;
}

.node-type-studyevent .group-left  .field-name-event-feedback .views-row  .views-field-title {
  font-weight: bold;
  font-size: 105%;
  margin-bottom: 10px;
}

.node-type-studyevent .group-left  .field-name-event-feedback .views-row  .views-field-body {
  font-size: 90%;
}

 .node-type-studyevent  #block-views-trainer-block .view-trainer {
   float: left;

 }

 .node-type-studyevent  #block-views-trainer-block .view-trainer .views-row {
   float: left;
	 margin-right: 15px;
	 width: 30%;
 }
 
 .node-type-studyevent  #block-views-trainer-block .view-trainer .views-row  img {
   width: 80%;
 }
 
 .node-type-studyevent  #block-views-trainer-block .view-trainer .views-row .views-field {
   float: left;
 }
 
.node-type-studyevent  .view-trainer .views-row .views-field-title {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 10px;
}

/* footer 
#copyright-wrap {
 margin: 0 -30px 0;
 padding: 10px 30px 0;
 width: 100%;
}

.region-footer {
 font-size: 0.9em;
}*/